.burger-button {
  @include flex-center(true);
  @include square(51px);

  padding: 0;
  background-color: var(--color-black-10);
  border: var(--border-width-3) solid var(--color-black-15);
  border-radius: var(--border-radius-6);

  @include hover {
    background-color: var(--color-red-60);
    border-color: transparent;
  }

  &_active {
    .burger-button__line {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &_2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &:not(.burger-button_active) {
    .burger-button__line_3 {
      stroke-dasharray: 30 207;
      stroke-dashoffset: -30;
    }
  }

  &__line {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition:
      stroke-dasharray var(--transition-duration-04) cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset var(--transition-duration-04) cubic-bezier(0.4, 0, 0.2, 1);

    &_2 {
      stroke-dasharray: 60 60;
    }
  }
}
