.modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;

  &_opened {
    pointer-events: auto;
    opacity: 1;

    z-index: 101;

    @include breakpoint-up("tablet-landscape") {
      opacity: 0;
      z-index: -1;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;

    background-color: var(--color-black-20);
  }

  &__close-button-wrapper {
    //display: flex;
    //justify-content: end;
    //padding-block: fluid(22, 14);
    padding-inline: var(--container-padding-x);
  }

  &__body {
    height: 100%;
  }
}
