.button {
  @include flex-center(true);

  cursor: pointer;
  user-select: none;

  border: none;
  border-radius: var(--border-radius-8);


  padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);

  color: var(--color-white);
  background-color: var(--color-red-45);

  &:has(.button__icon:only-child) {
    @include square(fluid-to-laptop(56, 44));

    padding: 0;
  }


  &:active {
    scale: 1.01;
  }

  &:disabled {
    color: var(--color-gray-60);
    background-color: var(--color-black-06);

    pointer-events: none;
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-red-60);
  }
}