.category-card {
  --categoryCardImagesGradientOpacity: 1;

  display: inline-flex;
  flex-direction: column;

  padding: fluid(30, 20);

  border: var(--border);
  border-radius: var(--border-radius-12);

  background-color: var(--color-black-10);

  @include hover {
    --categoryCardImagesGradientOpacity: 0;

    color: var(--color-white);
    border-color: currentColor;
  }

  @include breakpoint-down("desktop") {
    border-radius: var(--border-radius-10);
  }

  &__images {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 5px;

    &::after {
      @include abs-cover;

      content: "";
      background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, var(--color-black-10) 101.79%);
      opacity: var(--categoryCardImagesGradientOpacity);
      transition-duration: var(--transition-duration-02);
    }
  }

  &__image {
    height: fluid(124, 68);
    width: 100%;

    object-fit: cover;

    border-radius: var(--border-radius-10);

    @include breakpoint-down("desktop") {
      border-radius: var(--border-radius-6);
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: inherit;
    font-weight: 600;

    row-gap: fluid-to-laptop(4, 2);
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid(28, 24)};
    }
  }
}
