.header {
  position: sticky;
  top: 0;

  z-index: var(--z-index-header);

  width: 100%;

  padding-block: fluid(22, 14);

  border-bottom: var(--border-width-1) solid transparent;

  &_fixed {
    position: fixed;
  }

  @include breakpoint-down("tablet-landscape") {
    z-index: 12;
  }

  > .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 16px;

    > .header__actions {
      display: flex;
      align-items: center;

      column-gap: 10px;
    }
  }
}

.header {
  animation-name: on-header-scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes on-header-scroll {
    to {
      border-color: var(--color-black-15);
      background-color: var(--color-black-08);
    }
  }
}
