.header {
  position: sticky;
  top: 0;

  z-index: 100;

  width: 100%;

  padding-block: fluid(22, 14);

  border-bottom: var(--border-width-1) solid transparent;

  animation-name: on-header-scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes on-header-scroll {
    to {
      padding-block: 10px;

      border-color: var(--color-black-15);
      background-color: var(--color-black-08);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 16px;
  }
}
