.accordion-group {
  &_has-counter {
    --accordionGroupCounterHeight: #{fluid(67, 46)};

    counter-reset: custom-counter;
    list-style: none;

    .accordion-group__item {
      display: flex;
      column-gap: fluid-to-laptop(20, 16);

      counter-increment: custom-counter;

      &::before {
        @include flex-center;

        content: counter(custom-counter, decimal-leading-zero);

        font-size: fluid-to-laptop(20, 16);
        font-weight: 600;

        height: var(--accordionGroupCounterHeight);
        min-width: fluid(62, 42);

        border: var(--border);
        border-radius: var(--border-radius-10);

        @include breakpoint-down("desktop") {
          border-radius: var(--border-radius-8);
        }

        @include breakpoint-down("tablet") {
          border-radius: var(--border-radius-6);
        }

        color: var(--color-white);
        background-color: var(--color-black-12);
      }
    }
  }

  &_2-columns {
    column-count: 2;
    column-gap: fluid-to-laptop(80, 40);

    @include breakpoint-down("tablet-landscape") {
      column-count: 1;
    }
  }

  &__item {
    padding: fluid-to-laptop(34, 24);

    break-inside: avoid-column;

    @include breakpoint-up("tablet-landscape") {
      &_last-column-item {
        &::after {
          display: none;
        }
      }
    }

    @include breakpoint-down("tablet-landscape") {
      --accordionGroupItemPaddingY: 40px;
      --accordionGroupItemHalfPaddingY: calc(var(--accordionGroupItemPaddingY) / 2);

      padding: var(--accordionGroupItemPaddingY) 0;

      &:first-child {
        padding-top: var(--accordionGroupItemHalfPaddingY);
      }

      &:last-child {
        padding-bottom: var(--accordionGroupItemHalfPaddingY);
      }
    }

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(
          90deg,
          rgba(229, 0, 0, 0) 0%,
          var(--color-red-45) 16.67%,
          rgba(229, 0, 0, 0) 100%
        );
      }
    }
  }
}
