.hero {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  text-align: center;

  @include breakpoint-down("tablet") {
    min-height: 639px;
  }

  &__pano {
    --heroGradientColorStart: var(--color-black-08);
    --heroGradientColorEnd: rgb(20 20 20 / 0);

    --heroGradientHeight: 67.5%;

    --heroGraidentTop: linear-gradient(to bottom, var(--heroGradientColorStart) 0%, var(--heroGradientColorEnd) 100%)
      50% 0/100% var(--heroGradientHeight);

    --heroGraidentBottom: linear-gradient(to top, var(--heroGradientColorStart) 0%, var(--heroGradientColorEnd) 100%)
      50% 101%/100% var(--heroGradientHeight);

    @include flex-center(true);

    flex-grow: 1;

    padding-top: fluid(195, 150);
    padding-bottom: fluid(131, 50);

    background:
      var(--heroGraidentTop),
      var(--heroGraidentBottom),
      url("@shared/assets/images/hero/bg.png") 50% / cover;
    background-repeat: no-repeat;
  }

  &__play-button {
    padding: 0;

    border: none;

    background-color: transparent;
  }

  &__play-image {
    @include square(fluid(470, 200));
  }

  &__body {
    padding-bottom: fluid(50, 20);
  }

  &__title {
    margin-top: -0.5em;
    margin-bottom: fluid(30, 20);
  }

  &__description {
    margin-bottom: fluid(50, 30);
  }
}
