.header {
  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;

  padding-block: fluid(22, 14);

  border-bottom: var(--border-width-1) solid transparent;

  animation-name: on-header-scroll;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes on-header-scroll {
    to {
      padding-block: 10px;

      border-color: var(--color-black-15);
      background-color: var(--color-black-08);
    }
  }

  &_fixed {
    position: fixed;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 16px;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;

    flex-direction: column-reverse;
    justify-content: start;

    row-gap: 16px;

    height: 100%;
    width: 100%;

    padding: var(--container-padding-x);

    border: none;

    background-color: var(--color-black-20);

    transition-duration: var(--transition-duration-02);
    transition-behavior: allow-discrete;


    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    &[open] {
      display: flex;

      @starting-style {
        @include starting-styles;
      }
      @include breakpoint-up("tablet-landscape") {
        display: contents;
      }

    }

    &:not([open]) {
      @include starting-styles;

      @include breakpoint-up("tablet-landscape") {
        display: contents;
      }
    }


  }

  &__menu {


    border-radius: var(--border-radius-12);

    @include breakpoint-down("desktop") {
      border-radius: var(--border-radius-10);
    }

    @include breakpoint-up("tablet-landscape") {
      padding: fluid-to-laptop(10, 8);

      background-color: var(--color-black-06);

      outline: var(--border-width-4) solid var(--color-black-12);
    }

    @include breakpoint-down("tablet-landscape") {
      display: flex;
      justify-content: center;

      height: 100%;

      border-radius: 0;

      overflow-y: auto;
    }

    &-list {
      display: flex;
      align-items: center;

      column-gap: 6px;

      @include breakpoint-down("tablet-landscape") {
        flex-direction: column;

        row-gap: 16px;

        margin-block: auto;
      }
    }

    &-link {
      padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);

      color: var(--color-gray-75);

      border-radius: var(--border-radius-8);

      @include hover {
        color: var(--color-white);
        background-color: var(--color-red-60);
      }


      &_active {
        font-weight: 500;

        color: var(--color-white);
        background-color: var(--color-black-10);

        pointer-events: none;
      }

      @include breakpoint-down("tablet-landscape") {
        font-size: 20px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    column-gap: 10px;
  }

  &__burger-button {
    position: relative;
  }
}
