.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);

  gap: fluid-to-laptop(30, 20);

  &_column-2 {
    --gridColumns: 2;
  }

  &_column-3 {
    --gridColumns: 3;

    @include breakpoint-down("tablet-landscape") {
      --gridColumns: 2;
    }

    @include breakpoint-down("tablet") {
      --gridColumns: 1;
    }
  }
}
